@media only screen and (min-width:70em) {
    .error500 img {
        width: 50%;
    }

    .hRight a {
        font-size: large;
    }

    .navigation {
        flex-direction: row
    }

    .navigation li:first-child {
        display: none
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    .navigation li a {
        font-size: large;
        text-shadow: 1px 1px #000;
        text-align: center;
    }

    .navigation a:hover {
        color: #546a76;
        background-color: whitesmoke;
        text-shadow: none
    }

    .navigation .active {
        color: white;
        background-color: #05eeeb;
        text-shadow: 1px 1px brown
    }

    /* Classification view  display*/
    .inv-display {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
    }

    .inv-display h2 {
        margin: 0;
    }

    .inv-display div {
        width: 100%;
    }

    .inv-display h2,
    span {
        font-size: 1.1em;
        color: #3a3a3a;
    }

    .inv-display li {
        max-width: 200px;
        text-align: center;
        height: 170px;
        display: inline-block;
        margin: 1em;
        border-radius: 15px;
        background-color: unset;
        box-shadow: #8d8d8d 5px 5px 8px;
    }

    .inv-display li img {
        vertical-align: top;
        width: max-content;
        height: 125px;
        border-radius: 12px 12px 0 0;
        margin: 0;
        box-shadow: none;
    }

    .inv-display li:hover {
        animation: shake 0.5s;
    }

    @keyframes shake {
        0% {
            transform: translate(1px, 1px) rotate(0deg);
        }

        10% {
            transform: translate(-1px, -2px) rotate(-1deg);
        }

        20% {
            transform: translate(-3px, 0px) rotate(1deg);
        }

        30% {
            transform: translate(3px, 2px) rotate(0deg);
        }

        40% {
            transform: translate(1px, -1px) rotate(1deg);
        }

        50% {
            transform: translate(-1px, 2px) rotate(-1deg);
        }

        60% {
            transform: translate(-3px, 1px) rotate(0deg);
        }

        70% {
            transform: translate(3px, 1px) rotate(-1deg);
        }

        80% {
            transform: translate(-1px, -1px) rotate(1deg);
        }

        90% {
            transform: translate(1px, 2px) rotate(0deg);
        }

        100% {
            transform: translate(1px, -2px) rotate(-1deg);
        }
    }



    .classificationPageHead {
        font-size: x-large;
        color: #3a3a3a;
        margin: 1em 1.5em;
        padding-bottom: 0;
        text-align: left;
        width: fit-content;
        background:
            linear-gradient(to right, lightgreen, lightseagreen, teal) var(--p, 0) 100% /var(--d, 0) 2px no-repeat;
        transition: 0.4s, background-position 0s 0.3s;
    }

    .classificationPageHead:hover {
        --d: 100%;
        --p: 100%
    }



    /* poem-view ************************ */
    .poemPage {
        margin-left: 2em;
    }
    .poemContent{
        display: grid;
        grid-template-columns: 1f;
    }
    .poemContainer {
        display: flex;
    }

    .poemContainer div:nth-last-of-type(1) {
        margin-left: 5em;
        font-size: larger;
        line-height: 0.8;
    }

    .poemContainer div:nth-of-type(1) {
        margin-left: 1em;
    }

    .poemContainer img {
        width: 100%;
        max-height: unset;
        border: #8d8d8d 3px solid;
        border-radius: 10px;
        box-shadow: #546a76 3px 2px 10px;
    }

    .poemPage h1 {
        text-align: left;
        font-size: xx-large;
        color: #3a3a3a;
    }

    .mhide {
        display: contents;
    }

    .dhide {
        display: none;
    }

    .reviewFlex {
        display: grid;
        grid-template-columns: .5fr 10fr;

    }

    .reviewFlex img {
        max-width: 60px;
    }

    /* home view */
    .home-view {
        margin: 0 2em;
    }

    .home-view h1 {
        font-family: 'Rampart One', cursive;
        background-image: linear-gradient(#D05167, #E08B41, #E1AE40);
        color: brown;
        /* color: transparent;
        -webkit-background-clip: text;
        background-clip: text; */
        text-align: center;
        font-size: 2.3em;
        width: 70%;
        margin-left:  15%;
    }

    .home-view h2 {
        font-size: x-large;
    }

    .home-view h3 {
        font-size: 1.4em;
    }

    .lastreview li {
        font-size: large;
    }

    .flexer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 15%;
    }

    .home-view section:nth-of-type(1) {
        border-top: #a3c4f3ff 5px solid;
        border-left: none;
        padding: 1em;
        background-color: #e4f0fb;
        box-shadow: #546a76 5px 5px 10px;
        border-radius: 10px;
    }

    .home-view section:nth-of-type(2) {
        border-top: #b9fbc0ff 5px solid;
        border-left: none;
        padding: 1em;
        background-color: #e4fbef;
        box-shadow: #546a76 5px 5px 10px;
        border-radius: 10px;
        margin-left: 1em;
    }

    .home-view section:nth-of-type(3) {
        border-top: #fbf8ccff 5px solid;
        border-left: none;
        padding: 1em;
        background-color: #fbfbe4;
        box-shadow: #546a76 5px 5px 10px;
        border-radius: 10px;
        margin-left: 1em;
    }

    .home-view section p {
        font-size: large;
    }

    .notice {
        font-size: large;
    }

    /* ************ admin view ************* */
    .gridview {
        width: 60%;
        grid-template-columns: 1.5fr 1fr .5fr .5fr;
    }

    /*  *********** client update ********** */
    .cug {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .clientUpdate h1 {
        font-size: x-large;
        text-align: center;
    }

    .clientUpdate section {
        margin: 0 1em;
    }

    .clientUpdate section:nth-of-type(1) {
        border-top: #f1c0e8ff 5px solid;
        border-left: none;
        background-color: #f7e8f7;
        box-shadow: #546a76 5px 5px 10px;
        border-radius: 0 0 10px 10px;
    }

    .clientUpdate section:nth-of-type(2) {
        border-top: #98f5e1ff 5px solid;
        border-left: none;
        padding-bottom: 1em;
        background-color: #d9f2f2;
        box-shadow: #546a76 5px 5px 10px;
        border-radius: 0 0 10px 10px;
    }

    .clientUpdate section:nth-of-type(3) {
        border-top: teal 5px solid;
        border-left: none;
        background-color: #dede9f;
        box-shadow: #546a76 5px 5px 10px;
        border-radius: 0 0 10px 10px;
    }

    /*  ******** POEM MANAGEMENT ********* */
    .poetryManagement h1 {
        text-align: center;
        font-size: x-large;
    }

    .pmgr {
        display: grid;
        width: 75%;
        margin: 0 10%;
        grid-template-columns: 1fr 1fr;
    }

    .poetryManagement section:nth-of-type(1) {
        border-top: #a3c4f3ff 5px solid;
        border-left: none;
        background-color: #e4f0fb;
        box-shadow: #546a76 5px 5px 10px;
        border-radius: 10px;
    }

    .poetryManagement section:nth-of-type(2) {
        border-top: #cfbaf0ff 5px solid;
        border-left: none;
        margin-left: 5%;
        background-color: #f7e8f7;
        box-shadow: #546a76 5px 5px 10px;
        border-radius: 0 0 10px 10px;
    }

    .search input[type=submit] {
        margin-bottom: 1em;
    }

    .tabPoemN {
        font-size: large;
    }

    .tabPoemU a,
    .tabPoemD a {
        font-size: large;
    }
    #image-display {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #image-display img {
        height: 150px;
        box-shadow: #546a76 5px 5px 10px;
    }
    /*  *************** event management ************* */
    .eventManagement h1 {
        font-size: x-large;
    }
}