/* COLORS 
--cream: #fbf8ccff;
--almond: #fde4cfff;
--baby-pink: #ffcfd2ff;
--pink-lavender: #f1c0e8ff;
--mauve: #cfbaf0ff;
--baby-blue-eyes: #a3c4f3ff;
--non-photo-blue: #90dbf4ff;
--electric-blue: #8eecf5ff;
--magic-mint: #98f5e1ff;
--celadon: #b9fbc0ff;
*/
/*----------------------- FONTS --------------------------*/
/*
    font-family: 'Orbitron', sans-serif;        --- nav
    font-family: 'Gemunu Libre', sans-serif;    --- footer
    font-family: 'Audiowide', cursive;          --- titles
    */

* {
    padding: 0%;
    margin: 0%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.footer p {
    padding: .3em 0;
}

h1,
h2,
h3 {
    color: #3a3a3a;
}

header h1 {
    color: white;
}

header,
footer,
footer a {
    text-align: center;
    background-color: rgb(71, 84, 85);
    color: whitesmoke;

}

header img {
    margin: .5em;
    width: 10em;
    height: auto;
    float: right;
}

header {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding-right: .5em;
    font-size: x-small;
}

.hLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hRight a {
    margin-right: .5em;
    color: #a3c4f3ff;
    font-size: 1.4em;
}

#welcomeMessage:hover {
    color: lightseagreen;
}

#logout:hover {
    color: coral;
}

#myaccount:hover {
    color: lightseagreen;
}

#logo {
    width: 60px;
}

.navigation {
    list-style: none;
    text-align: center;
    background-color: #546a76;
    display: flex;
    flex-direction: column
}

.navigation li:first-child {
    display: block;
    background-color: #cfbaf0ff;
}

.navigation li:first-of-type a {
    color: #546a76;
}

.navigation li {
    display: block
}

.navigation a {
    display: block;
    color: #fff;
    padding: .7rem;
    text-align: left;
    padding-left: 1em;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Orbitron';
}

.navigation a:hover {
    color: #191919;
    background-color: #a3c4f3ff;
    font-weight: 700
}

.responsive li {
    display: none
}

.navigation .active {
    background-color: #05eeeb;
    color: brown
}

main h1 {
    font-size: large;
    color: #3a3a3a;
    margin: 1em 1em;
}

/* *************** LOGIN & REGISTER VIEWS ************** */

.login-view,
.register-view {
    margin-left: 1em;
}

.login-view hr {
    width: 95%;
}

.login-view section:nth-of-type(1) {
    border-left: #fbf8ccff 5px solid;
    padding-left: 1em;
    margin-bottom: 1em;
}

.login-view section:nth-of-type(2) {
    border-left: #90dbf4ff 5px solid;
    padding-left: 1em;
}

.login-form label,
.register-view label {
    font-size: x-large;
}

.login-form input {
    border-left: #fbf8ccff 5px solid;
    padding: .3em .5em;
    font-size: larger;
    margin-bottom: .5em;
}

.register-form input {
    border-left: #90dbf4ff 5px solid;
    padding: .3em .5em;
    font-size: larger;
    margin-bottom: .5em;
}

#passwordWarning,
.warning {
    color: crimson;
}

.hint {
    color: teal;
}

.login-submit {
    border: none;
    background-color: #fbf8ccff;
    color: #3a3a3a;
    font-weight: 900;
    border-radius: 5px;
    box-shadow: #546a76 3px 2px;
}

.reg {
    border: none;
    background-color: #90dbf4ff;
    color: #3a3a3a;
    font-weight: 900;
    border-radius: 5px;
    box-shadow: #546a76 3px 2px;
}

.login-submit:hover,
.reg:hover {
    background-color: #cfbaf0ff;
    color: #3a3a3a;
}

.register-button {
    font-size: larger;
    padding: .3em .5em;
    font-weight: 900;
    background-color: #90dbf4ff;
    color: #3a3a3a;
    margin-bottom: .5em;
    border-radius: 5px;
    box-shadow: #546a76 3px 2px;
}

.register-button:hover {
    background-color: #cfbaf0ff;
    color: #3a3a3a;
}

.register-view a {
    display: inline-block;
    margin-top: 1em;
    text-decoration: none;
    font-size: x-large;
    background-color: teal;
    padding: .2em .3em;
    color: white;
    border-radius: 5px;
    box-shadow: #546a76 3px 2px;
}

.register-view a:hover {
    background-color: #4c96d7;
    color: white;
}

/* *************500error********** */
.error500 {
    text-align: center;
    margin: 2em 0;
}

.error500 h1 {
    color: crimson;
}

.error500 img {
    width: 100%;
}

/* ************ Admin-view ******** */
.admin-view {
    margin-left: 1em;
}

.admin-view h1 {
    margin-left: 0;
}

.admin-view ul li {
    list-style: none;
}

.admin-view section {
    margin-top: 1em;
    padding-left: 1em;
}

.admin-view section:nth-child(1) {
    border-left: #fbf8ccff 5px solid;
}

.admin-view section:nth-child(2) {
    border-left: #ffcfd2ff 5px solid;
}

.admin-view section:nth-child(3) {
    border-left: #f1c0e8ff 5px solid;
}

.admin-view section:nth-child(4) {
    border-left: #b9fbc0ff 5px solid;
}
.admin-view section:nth-child(5) {
    border-left: #98f5e1ff 5px solid;
    margin-bottom: 1em;
}
.admin-view section:nth-child(6) {
    border-left: #90dbf4ff 5px solid;
}

.admin-view section:nth-child(7) {
    border-left: #a3c4f3ff 5px solid;
    margin-bottom: 1em;
}
.admin-view section:nth-child(8) {
    border-left: #cfbaf0ff 5px solid;
    margin-bottom: 1em;
}



.lc a {
    text-decoration: none;
    font-size: larger;
    color: #4c96d7;
}

.lc a:hover {
    color: lightseagreen;
}


.reviewUpdLink,
.reviewDelLink {
    margin-left: 1em;
    color: #4c96d7;
    font-size: larger;
}

.reviewUpdLink:hover {
    color: goldenrod;
}

.reviewDelLink:hover {
    color: crimson;
}

.reviewedDate {
    color: #546a76;
}

.gridview {
    display: grid;
}

.adminVLink {
    text-decoration: none;
    color: #4c96d7;
    font-size: 1.2em;
    font-weight: 800;
}

.adminVLink:hover {
    color: coral;
}
.userInfo li{
    margin-bottom: .3em;
    width: fit-content;
    padding: .3em .5em;
    border-radius: 5px;
}
.userInfo li:first-of-type{
    background-color: #a3c4f3ff;
}
.userInfo li:nth-of-type(2){
    background-color: #b9fbc0ff;
}
.userInfo li:nth-of-type(3){
    background-color: #cfbaf0ff;
}
.userInfo li:nth-of-type(4){
    background-color: #f1c0e8ff;
}
/* ************ Account Management *********** */
.clientUpdate {
    margin-left: 1em;
}

.clientUpdate section:nth-of-type(1) {
    border-left: #f1c0e8ff 5px solid;
    padding-left: 1em;
    margin-bottom: 1em;
}

.clientUpdate section:nth-of-type(1) input {
    border-left: #f1c0e8ff 5px solid;
}

.clientUpdate section:nth-of-type(1) input:nth-of-type(3) {
    border: none;
}

.clientUpdate section:nth-of-type(2) {
    border-left: #98f5e1ff 5px solid;
    padding-left: 1em;
    margin-bottom: 1em;
}

.clientUpdate section:nth-of-type(2) input {
    border-left: #98f5e1ff 5px solid;
}

.clientUpdate section:nth-of-type(2) input:nth-of-type(2) {
    border: none;
}

.clientUpdate section:nth-of-type(3) {
    border-left: teal 5px solid;
    padding-left: 1em;
    margin-bottom: 1em;
}

.clientUpdate-form input {
    font-size: large;
    padding: .2em .5em;
}

.updClient1 {
    background-color: #f1c0e8ff;
    border-radius: 4px;
    box-shadow: #546a76 3px 2px;
}

.updClient2 {
    background-color: #98f5e1ff;
    border-radius: 4px;
    box-shadow: #546a76 3px 2px;
}

.updClient1:hover,
.updClient2:hover {
    background-color: #4c96d7;
    color: white;
}

/* ******** Poetry management ************ */
.poetryManagement {
    margin-left: 1em;
}

.poetryManagement section:nth-of-type(1) {
    border-left: #a3c4f3ff 5px solid;
    padding-left: 1em;
    margin-bottom: 1em;
}

.poetryManagement section:nth-of-type(2) {
    border-left: #cfbaf0ff 5px solid;
    padding-left: 1em;
    margin-bottom: 1em;
}

.poetryManagement section:nth-of-type(1) a {
    display: inline-block;
    text-decoration: none;
    font-size: larger;
    color: white;
    background-color: #4c96d7;
    border-radius: 5px;
    padding: .2em .3em;
    margin-bottom: .3em;
    box-shadow: #546a76 3px 2px;
}

.poetryManagement section:nth-of-type(1) a:hover {
    color: white;
    background-color: teal;
}

.poetryManagement select {
    background-color: #cfbaf0ff;
    font-size: large;
    border-radius: 5px;
    padding: .2em .3em;
    box-shadow: #546a76 3px 2px;
}

.fpoemList li {
    list-style: none;
}

.fpoemList {
    display: grid;
    grid-template-columns: .9fr .4fr .4fr;
}

.tabPoemN a {
    font-size: 1em;
    margin: 0;
    color: #4c96d7;
    text-decoration: none;
}

.tabPoemN a:hover {
    color: coral;
}

.tabPoemU a,
.tabPoemD a {
    margin-left: .5em;
    text-decoration: none;
    color: #4c96d7;
    font-size: 1em;
}

.tabPoemU a:hover {
    color: goldenrod;
}

.tabPoemD a:hover {
    color: crimson;
}

.search label {
    font-size: 1.2em;
}

.search input[type=text] {
    width: 90%;
    border-left: #cfbaf0ff 5px solid;
    border-radius: 5px;
    padding: .2em .3em;
    font-size: larger;
}

.search input[type=submit] {
    margin-top: .5em;
    background-color: #cfbaf0ff;
    border-radius: 5px;
    padding: .3em .5em;
    font-size: larger;
    box-shadow: #546a76 3px 2px 5px;
}

.search input[type=submit]:hover {
    background-color: #4c96d7;
    color: white;
}

/* ******* addClassification ********** */
.addClassification div {
    margin-left: 1em;
    border-left: #98f5e1ff 5px solid;
    padding-left: 1em;
}

.addClassification form label {
    color: #3a3a3a;
    font-size: large;
}

.addClassification form input {
    padding: .2em .3em;
    font-size: large;
    border-left: #98f5e1ff 3px solid;
    margin-bottom: 1em;
}

#addClassification {
    border: none;
    margin-bottom: 0;
    background-color: #98f5e1ff;
    border-radius: 4px;
    padding: .2em .5em;
    box-shadow: #546a76 3px 2px;
}

#addClassification:hover {
    background-color: #4c96d7;
    color: white;
}

/* ******* Add Poem ******* */
.addPoem div {
    margin-left: 1em;
    border-left: #f1c0e8ff 5px solid;
    padding-left: 1em;
}

.addPoem form label {
    color: #3a3a3a;
    font-size: large;
}

.addPoem form select {
    background-color: #f1c0e8ff;
    font-size: large;
    padding: .2em .3em;
    border-radius: 5px;
}

.addPoem form input {
    padding: .2em .3em;
    font-size: large;
    border-left: #f1c0e8ff 5px solid;
    margin-bottom: 1em;
}

.addPoem textarea {
    height: 10em;
    width: 95%;
}

#addPoem {
    border: none;
    margin-bottom: 0;
    background-color: #f1c0e8ff;
    box-shadow: #9cadce 3px 3px;
    border-radius: 4px;
}

#addPoem:hover {
    background-color: #4c96d7;
    color: white;
}


/* ************** reviews ************** */
.revmanLink{
    color: coral;
    text-decoration: none;
}
.revmanLink:hover{
    color:goldenrod;
}
.revmanLink2{
    color: #4c96d7;
    text-decoration: none;
}
.revmanLink2:hover{
    background-color: #4c96d7;
    padding: .2em .3em;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #546a76;
    width: fit-content;
    color: white;
}
.authorName{
    font-family: 'Bad script', cursive;
    color: darkgoldenrod;
}
.reviewFlex {
    display: grid;
    grid-template-columns: 1fr 10fr;

}

.mhide {
    display: none;
}

.reviewFlex img {
    max-width: 50px;
    border-radius: 10px;
}

.review {
    margin-left: 1em;
}

.reviewRev {
    padding-left: 1em;
    color: white;
}

.review h2 {
    font-family: 'Audiowide', cursive;
    color: #3a3a3a;
    font-size: 1.2em;
}

#noreviews {
    color: crimson;
    font-size: 1em;
}

#reviewLogin {
    margin-top: .5em;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: large;
}

#reviewLogin a {
    color: #4c96d7;
    padding-bottom: .5em;
}

#reviewLogin a:hover {
    color: #1abc9c;
}

.reviewsInfo p {
    margin-right: .5em;
    background-color: #63717f;
    padding: .2em 0;
}

.reviewsInfo p:first-of-type {
    border-radius: 5px 5px 0 0;
}

.reviewsInfo p:nth-of-type(3n) {
    padding: .5em 1em;
    background-color: lightgray;
    border-radius: 0 0 5px 5px;
    font-size: 1.2em;
}

.reviewsScreenName a{
    color: #1abc9c;
    text-decoration: none;
}
.reviewsScreenName a:hover{
    color: coral;
}

.reviewsDate {
    color: lightgoldenrodyellow;
    padding-left: 1em;
}

.review h3 {
    margin-bottom: .5em;
    color: #3a3a3a;
    font-size: 1em;
    font-family: 'Audiowide', cursive;
}

.review-form label {
    color: #3a3a3a;
    font-family: 'Orbitron', sans-serif;
}

.review-form input:first-of-type {
    padding: .5em;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: large;
    font-weight: 500;
    margin-bottom: .5em;
    background-color: #e8e8e8;
    border-radius: 5px;
    border: 2px solid #4c96d7;
}

.review-form #reviewText {
    background-color: #e8e8e8;
    border-radius: 5px;
    border: 2px solid #4c96d7;
    width: 95%;
    height: 8em;
    padding: .3em;
    font-size: large;
}

.reviewedDate {
    color: darkgoldenrod;
}

#reviewText {
    border-radius: 5px;
    border: 2px solid #4c96d7;
    padding: .3em;
    width: 90%;
    height: 8em;
    font-size: large;
}

.flexy {
    display: flex;
    justify-content: space-between;
}

.flexy a {
    margin-right: 2em;
}

.flexyRight {
    display: flex;
    justify-content: space-between;
}

#review-submit {
    background-color: #9cadce;
    color: #3a3a3a;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.3em 0.7em;
    margin-top: 0.5em;
    box-shadow: #63717f 2px 3px;
    border: none;
    margin-bottom: 1em;
}

#review-submit:hover {
    background-color: #4c96d7;
    color: #ffffff;
}

/* ************* Poem Update ************* */
.poemUpdate-view {
    margin-left: 2em;
}

.poemUpdate-view form {
    border-left: #98f5e1ff 5px solid;
    padding-left: 1em;
}

.poemUpdate-view form select {
    border-left: #98f5e1ff 5px solid;
    font-size: 1.2em;
    box-shadow: #63717f 2px 3px;
    padding: .2em .3em;
    border-radius: 5px;
}

.poemUpdate-view form input {
    font-size: 1.1em;
    padding: .2em .3em;
    border-left: #98f5e1ff 4px solid;
    box-shadow: #63717f 3px 2px;
    margin-bottom: .5em;
}

.poemUpdate-view form textarea {
    height: 20em;
    width: 95%;
    font-size: large;
    padding: .2em .3em;
    border-left: #98f5e1ff 4px solid;
    box-shadow: #63717f 3px 2px;
}

#updPoem {
    border: none;
    background-color: #98f5e1ff;
    border-radius: 5px;
    box-shadow: #63717f 2px 3px;
}

#updPoem:hover {
    background-color: #4c96d7;
    color: white;
}

/* *********** Poem View * Poem Content ********* */
.poemContent {
    margin-left: 1em;
    margin-bottom: 1em;
}

.poemContent pre {
    font-family: 'El Messiri', sans-serif;
    font-size: 1.1em;
}
.poemContent pre::first-letter{
    font-family: 'Ruslan Display', cursive;
    font-size: 1.9em;
    color: crimson;
}

/* *********upload image * images * need to re-check *********** */
.failure {
    color: crimson;
    margin-bottom: 1em;
}

.success {
    color: #1abc9c;
    margin-bottom: 1em;
}

#uploadImage {
    background: teal;
    cursor: pointer;
    color: white;
    padding: .2em .3em;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: x-large;
    border: 1px solid grey;
    box-shadow: 2px 2px 2px #3a3a3a;
    border-radius: 5px;
    margin-top: .5em;
}

#uploadImage:hover {
    background: #0aa;
}

input[type=file] {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: large;
}

input[type=file]:focus:valid {
    background-color: white;
}

#image-display {
    display: grid;
    grid-template-columns: 1fr;
}

#image-display img {
    max-width: 100%;
    margin-top: 1.5em;
    border-radius: 10px;
    box-shadow: #546a76 3px 3px 5px;
}

#image-display a {
    color: #1B5583
}

#image-display li {
    list-style-type: none;
    margin-right: 1em;
}

input[type=file] {
    margin-top: .5em;
    width: 20em;
    background-color: cadetblue;
    border-radius: 5px;
}

.imageUploadView {
    margin-left: 1em;
}

.imageUploadView fieldset {
    border: none;
}

.imageUploadView hr {
    height: 3px;
    background-color: cadetblue;
    margin-top: 1em;
}


/* get image button */

#selected {
    text-transform: uppercase;
    color: teal;
    padding: 0 5px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: .5em;
    margin-top: .5em;
    box-shadow: 2px 2px 2px #3a3a3a;
}

[value="Выбрать"] {
    background: teal;
    cursor: pointer;
    color: white;
    padding: 2px 5px;
    font-family: Trebuchet MS;
    font-size: large;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #3a3a3a;
    margin-top: .5em;
}

[value=Выбрать]:hover {
    background: #0aa;
}

details[open] {
    animation: spoiler 3s;
}

@keyframes spoiler {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* radio button toggle */
.form_toggle {
    overflow: hidden;
}

.form_toggle-item {
    display: inline-block;
}

/* .form_toggle-item input[type=radio] {
    display: none;
} */

.form_toggle-item label {
    display: inline-block;
    padding: 0 10px;
    border: 2px solid #999;
    cursor: pointer;
    user-select: none;
    box-shadow: 2px 4px 2px #3a3a3a;
}

.form_toggle .item-1 label {
    border-radius: 6px 0 0 6px;
    color: #3a3a3a;
}

.form_toggle .item-2 label {
    border-radius: 0 6px 6px 0;
    color: #3a3a3a;
}

/* Checked */
/* .form_toggle .item-1 input[type=radio]:checked+label {
    background-color: teal;
    color: white;
    font-size: x-large;
    border: none;
} */

/* .form_toggle .item-2 input[type=radio]:checked+label {
    background-color: crimson;
    color: white;
    font-size: x-large;
    border: none;
} */

#TealColor {
    color: teal;
}

.imageUploadSelector {
    font-size: large;
    margin: 0 0 .5em .5em;
    box-shadow: 2px 2px 2px #3a3a3a;
    border-radius: 5px;
}

/* ***************** HOME VIEW **************** */
.home-view {
    margin: 0 1em;
}

.home-view h2 {
    font-size: large;
    color: #3a3a3a;
}

.home-view h3 {
    font-size: medium;
    color: #1B5583;
}

.home-view section {
    margin-top: .5em;
}

.home-view section:nth-of-type(1) {
    border-left: #a3c4f3ff 5px solid;
    padding-left: .5em;
}

.home-view section:nth-of-type(2) {
    border-left: #b9fbc0ff 5px solid;
    padding-left: .5em;
}

.home-view section:nth-of-type(3) {
    border-left: #fbf8ccff 5px solid;
    padding-left: .5em;
}

.lastreview li {
    list-style: none;
}

.lastreview li a {
    text-decoration: none;
}

.lastreview li a:hover {
    color: darksalmon;
}

.reviewdate {
    color: darkgoldenrod;
}

.reviewText {
    background-color: #63717f;
    padding: .3em .5em;
    border-radius: 5px;
    color: lightgoldenrodyellow;
}

/* *********** Classification view ************ */
.classificationPageHead {
    font-size: large;
}

.inv-display li {
    list-style: none;
}

.inv-display li img {
    width: 78%;
    max-height: 200px;
    margin: 0 10%;
    border-radius: 10px;
    box-shadow: #63717f 3px 3px 10px;
}

.inv-display h2 {
    text-align: center;
    margin-bottom: 1em;
}

.notice {
    color: crimson;
    margin-left: 1em;
}

/* **************** POEM VIEW **************** */
.poemPage h1 {
    text-align: center;
    font-size: x-large;
    font-family: 'Bad script', cursive;
}

.poemContainer div:first-of-type {
    margin-bottom: 1em;
}

.poemContainer img {
    width: 92%;
    max-height: 200px;
    margin: 0 2%;
    border-radius: 10px;
    box-shadow: #63717f 3px 3px 10px;
}

.eventManagement {
    margin-left: 1em;
}

.eventManagement section{
    border-left: #a3c4f3ff 5px solid;
    padding-left: 1em;
    margin-bottom: 1em;
}
.eventManagement section a {
    display: inline-block;
    text-decoration: none;
    font-size: larger;
    color: white;
    background-color: #4c96d7;
    border-radius: 5px;
    padding: .2em .3em;
    margin-bottom: .3em;
    box-shadow: #546a76 3px 2px;
}

.eventManagement section a:hover {
    color: white;
    background-color: teal;
}


/* ********** PRIVILEGES ************* */
.userSelector{
    font-size: large;
}
.privilege-page h1{
text-align: center;
}
.userPrivilege-form {
    width: 50%;
    margin: 0 25%;
    background-color: #eee;
    padding: 1em 2em;
    box-shadow: #546a76 3px 5px 10px;
}
.userPrivilege-form #user, .userPrivilege-form #newPrivilege{
    font-size: large;
}
.userPrivilege-form input[type=submit]{
    background-color: teal;
    color: white;
    padding: .5em 1em;
    font-size: large;
    border-radius: 10px;
    box-shadow: #546a76 3px 3px 5px;
}
.userPrivilege-form input[type=submit]:hover{
    background-color: #0aa;
}
.button-label {
    display: inline-block;
    padding: .5em 1em;
    margin:.5em .5em 1em 0;
    cursor: pointer;
    color: #3a3a3a;
    border-radius: 0.25em;
    background: lightcyan;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
    transition: 0.3s;
    user-select: none;
}
.button-label:hover {
    background: #eee;
    color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}

.button-label:active {
    transform: translateY(2px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}

#reader:checked+.button-label {
    background: #4c96d7;
}

#reader:hover+.button-label:hover {
    background: lightskyblue;
}

#moder:checked+.button-label {
    background: lightseagreen;
}

#moder:hover+.button-label:hover {
    background: lightgreen;
}


#admin:checked+.button-label {
    background: crimson;
}

#admin:hover+.button-label:hover {
    background: lightcoral;
}
#ban:checked+.button-label {
    background: #3a3a3a;
}
#ban:hover+.button-label:hover {
    background: #546a76;
}

#reader:checked+.button-label h1, #moder:checked+.button-label h1, #admin:checked+.button-label h1, #ban:checked+.button-label h1{
    color: white;
}
.hidden {
    display: none;
}
/*  message view */
#mailboxh1{
    text-align: center;
}
.messenger-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 15%;
}
.messenger-view section:nth-of-type(1){
    background-color: wheat;
    margin-right: 1em;
    padding: 1em 1.5em;
    border-radius: 10px;
    box-shadow: #546a76 3px 3px 5px;
}
.messenger-view section:nth-of-type(2){
    background-color: #cfbaf0ff;
    padding: 1em 1.5em;
    border-radius: 10px;
    box-shadow: #546a76 3px 3px 5px;
    }
.msgItem li{
    width: fit-content;
    padding: .5em .3em .5em .5em;
    border-radius: 10px;
    list-style: none;
    background-color:  #e8e8e8;
    box-shadow: #3a3a3a 3px 3px 5px;
}
.msgName {
color: teal;
text-decoration: none;
}
.msgName:hover{
    color: tomato;
}
.msgDate{
color: tomato;
}
.msgDel{
color: white;
background-color:  darksalmon;
    box-shadow: #3a3a3a 3px 3px 5px;
padding: .2em .4em;
text-decoration: none;
border-radius: 5px;
font-size: large;
}
.msgDel:hover{
    background-color: tomato;
    color: white;
}
.msgText{
color: darkgoldenrod;
}
.checkMail{
    background-color: #1abc9c;
    padding: .2em .4em;
    width: fit-content;
    font-size: large;
    border-radius: 5px;
    box-shadow: #3a3a3a 3px 3px 5px;
    margin: 1em 0;
}
.checkMail:hover{
    background-color: tomato;
}
.checkMail a{
    color: white;
    text-decoration: none;
}
.sendMsg form label{
    font-size: large;
    color: white;
}
.sendMsg form select{
    font-size: large;
    background-color: white;
    border-radius: 5px;
    color: #4c96d7;
    box-shadow: #3a3a3a 3px 3px 5px;
}
.sendMsg form textarea{
width: 30em;
height: 10em;
border: tomato 2px solid;
}
.sendMsg form input[type=submit]{
    background-color: #1abc9c;
    color: white;
    padding: .2em .4em;
    width: fit-content;
    font-size: large;
    border-radius: 5px;
    box-shadow: #3a3a3a 3px 3px 5px;
    margin: 1em 0;
}
.sendMsg form input[type=submit]:hover{
    background-color: tomato;
}
.msgCounter{
    color: tomato;
}
.yes{
padding: .1em .3em;
background-color: #1abc9c;
border-radius: 5px;
font-size: large;
color: white;
text-decoration: none;
box-shadow: #546a76 3px 3px 5px;
margin-right: .5em;
}
.yes:hover{
background-color: #0aa;
}
.no{
    padding: .1em .3em;
    background-color: tomato;
    border-radius: 5px;
    font-size: large;
    color: white;
    text-decoration: none;
    box-shadow: #546a76 3px 3px 5px;
}
.no:hover{
 background-color: orangered;
}
.mailLink img{
    width: 1.5em;
    vertical-align: middle;
}
.frlist{
    margin-top: .5em;
}
.frlist li{
    display: inline;
    margin-right: .5em;
}