/* COLORS 
--cream: #fbf8ccff;
--almond: #fde4cfff;
--baby-pink: #ffcfd2ff;
--pink-lavender: #f1c0e8ff;
--mauve: #cfbaf0ff;
--baby-blue-eyes: #a3c4f3ff;
--non-photo-blue: #90dbf4ff;
--electric-blue: #8eecf5ff;
--magic-mint: #98f5e1ff;
--celadon: #b9fbc0ff;
*/